
*{
    box-sizing: border-box;
    height: auto;
}
:root{
    --color1:#D89584;
    --color2:#F4F4F4;
    --color3:#979797;
}
body{
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

iframe{
    width: 100%;
    border: none;
    height: 350px;
}
div.cover{
    background: url(cover_overlay.png) no-repeat center/100% 100%,url(cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
}
img.cover_profile{
    height: 100px;
    position: relative;
    left:50%;
    margin-left: -50px;
    margin-top: 50px;

}
div.cover h1{
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}
div.cover p{
    color: lightgray;
    text-align: center;
    margin-top: 4px;
}
div.cover_contact{
    border-left:var(--color1) 4px solid;
    /*background-color: #FF000080;*/
    position: absolute;
    top: 10px;
    left: 10px;
    padding-left: 9px;
}
div.cover_contact p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
div.cover_contact p:first-child {
    margin-bottom: 10px;
}
div.cover_contact *{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
div.contact_button{
    text-align: center;
    margin-top: 50px;
}
div.contact-button-portfolio{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px; 
    margin-right: 30px;
}
div.contact_button a{
    background-color:#00000040;
    color: var(--color1);
    border: var(--color1) solid;
    padding:8px;
    text-decoration:none;
    font-size: 14px;

}
div.contact_button a:hover{
    color:white;
    border: 3px solid white;
    text-decoration: none;

}
div.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}
div.section-grise1{
  background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
  background-color: var(--color2) ;
  padding-top: 30px ;
  padding-bottom: 70px;
}
div.section-grise2{
  background: url(triangle1white.svg) no-repeat center top/100%;
  background-color: var(--color2) ;
  padding-top: 80px ;
  padding-bottom: 30px;
  align-items: center;
}
h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0;
}
.separateur{
    background-color: var(--color3);
    width: 150px;
    height: 1px;
    margin: auto;
    margin-bottom: 20px;
}

div.section-grise1 p{
    text-align: center;
    font-size: 22px;
    color: #656565;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

img.col-contenu{
    width: 40%;
}
div.col-contenu{
    width: 60%;
    padding-left: 13px;

    
}
.float-right{
    float: right;
}
.text-avec-ligne-verticale{
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}
.text-avec-ligne-verticale p{
    margin-top: auto;
}
div.bar-verticale{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 10px;
}
.col-portfolio{
    width: 47%;
}
div.frame{
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.1);
}
p.frame-title{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}
div.frame img{
    width: 100px;
}

/* PORTFOLIO*/

.portfolio-header{
    height: 90px;
    background: black;
    margin-top: 0;
    background: url(header.jpg)no-repeat center/cover;
    position:relative;
}
.portfolio-header-title{
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

h1.portfolio{
    font-size: 46px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
h2.portfolio{
    font-size: 26px;
    text-align: center;
    font-weight: unset;
}
a.portfolio-back{
    color: var(--color1);
    margin-left: -10px;
}
img.portfolio{
    max-width: 550px;
    width: 70%;
}
.display-mobile{
    display: none;
}
/*RESPONSIVE DESIGN*/

@media only screen and (max-width:767px){
    img.cover_profile{
        height: 90px;
        margin-top: 75px;
    
    }
    div.cover h1{
       font-size: 38px;
       margin-top: 6px;
       margin-bottom: 0;
    }
    div.cover p{
        margin-top: 2px;
        font-size: 13px;
    }
    div.section{
        padding-left: 20px;
        padding-right: 20px;
       
    }
    div.section-grise1{
        padding-bottom: 40px;
      }
      h2{
        font-size: 30px;
    }

    .col-contenu{
        width: 100%;
    }
    div.col-contenu{
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;   
    }
    .col-portfolio{
        width: 100%;
        margin-bottom: 20px;
    }
    iframe{
        width: 100%;
        border: none;
    }
    div.frame{
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
    p.frame-title{
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    div.frame img{
        width: 70px;
    }

    /*PORTFOLIO MOBILE*/
    .portfolio-header-title{
        font-size: 20px;
    }
    div.contact_button a{
        padding:7px 15px;
        font-size: 12px;
    
    }
    h1.portfolio{
        font-size: 40px;
    }
    h2.portfolio{
        font-size: 22px;
    }
    img.portfolio{
        width: 100%;
    }
    .display-mobile{
        display: block;
    }
    b{
        display: inline-block;
    }
}
